html *
{
   font-size: large;
   /* The !important ensures that nothing can override what you've set in this style (unless it is also important). */
   font-family: Arial;
}

h1            {
  text-align: center;
  font-size: 55;
  padding-bottom: 110px;
  padding-top: 70px;
  font-family: "Georgia", bold;
  }
th, td        {
  vertical-align: top;
  text-align: center;
  padding: 10px  10px;
  }
/* #finaltable  * { color: white; background-color: black; }   */

/* #finaltable table { border-collapse:collapse; } */
/* #finaltable table, td { border:1px solid white; } */
table.center tr:nth-child(odd)    { background-color:#7FAE75; }
table.center tr:nth-child(even)    { background-color:#B4FAA5; }
table.center tr.error:nth-child(odd)    { background-color:#C00; }
table.center tr.error:nth-child(even)    { background-color:#F00; }

table.center tr:nth-child(odd):hover    { background-color:#9FCE95; border-color:#5F8E55; border-width:3px; border-style: solid; border-left: none; border-right:none}
table.center tr:nth-child(even):hover    { background-color:#D4FAC5;  border-color:#94BA85; border-width:3px; border-style: solid;border-left: none; border-right:none }
table.center tr.error:nth-child(odd):hover    { background-color:#D22; border-color: #900 }
table.center tr.error:nth-child(even):hover    { background-color:#F22; border-color: #B00}

input        {
  text-align: right;
  border: none;
  }     /* Align input to the right  */
textarea {
  text-align: center;       /* Align input to the right  */
	border: none;
	padding: 5px  5px;
	color: #373737;
	font-size:150%;
  }
table {
  border-collapse: collapse;
  margin:auto;
  }
table.center {
  margin-top: 40px;
  margin-left:auto;
  margin-right:auto;
  color: black;
  }
span {
  border-radius: 10px 10px 10px 10px;
}
button {
  margin-top: 40px;
}
#result      { border-color: red; }
body
{
 background-color:#b0c4de;  /* blue */
 text-align: center;
 font-weight: bold;
 color: #336936;
 font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
